.skin{
    background: #111427;
    height: 100%;
    width: 100%;
}
.title h2{
    color:#ff4321;
    font-size: 75px;
    width: 1130px;
    justify-content: center;
    margin: 20px;
}
.title h2 span{
    color:white
}
.img-project{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}
.img-project .box{
    height: 28rem;
    width:30rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}
.img-project .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.img-project .box:hover img{
    transform: scale(1.2);
}