.info{
    margin-left: 8%;
    margin-top: 10%;
}
.info h1{
    font-size: 40px;
    color: white;
}
.info h1 span{
    color: #ff4321;
}
.info p{
    color:white;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.img-box{
    width: 50%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.img-box img{
    height:100%;
    position: absolute;
    left:50%;
    bottom: 0;
    transform: translateX(-60%);
    transition: bottom 1s, left 1s;
}
.profile{
    width: 70%;
    height: 40%;
}
.img-box:hover .back-img{
    bottom: 40px;
}

